[submodule "libs/uWebSockets"]
	path = libs/uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
[submodule "libs/box2d"]
	path = libs/box2d
	url = https://github.com/erincatto/box2d.git
